body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f2f2;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    background-color: #f5f2f2;
    color: rgb(57, 59, 187);
}

.hamburger-menu {
    display: flex;
    align-items: center;
    margin-right: 15px;
    /* ハンバーガーメニューと会社名の間の間隔を設定 */
}

.menu-btn {
    cursor: pointer;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 59, 187);
    border-radius: 10%;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 1px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
    width: 50%;
}

.menu-btn span:after {
    top: 8px;
    width: 25%;
}

company-name {
    font-size: 2rem;
}

