.flex-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* 左側：店の詳細情報 */
.shop-details-container {
    flex: 1;
    padding: 20px;
}

/* 左側ボタン */
.shop-details-container button {
    margin-right: 10px;
}

/* 画像 */
#shopImage {
    max-width: 100%;
}

/* 右側：予約フォーム */
#reservationForm {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgb(0, 68, 255);
    position: relative;
    width: 70%;
    margin: 10%;
}

/* 予約確認 */
#reservationDetailsContainer {
    margin-top: 20px;
}

/* 予約ボタン */
#reservationForm button {
    margin-top: 10px;
}

#reservationDetails {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: rgb(0, 115, 255);
    color: white;
}

#reserveButton {
    background-color: blue;
    color: white;
    margin-top: 10px;
}