@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
    padding: 0;
    box-sizing: border-box;
}

#modal {
    /* 既存のスタイルは省略 */
    text-align: right;
}

#modal a {
    color: #333;
    font-size: 1.5em;
    text-decoration: none;
    margin-right: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.registration-form {
    width: 300px;
    margin: 2% auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* ここを変更 */
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: opacity 1s;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 300px;
    margin: auto;
}

form div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

form div input {
    margin-left: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 95%;
    color: #555;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    border-bottom: 1px solid black;
}

.iconUser,
.iconEmail,
.iconPassword {
    height: 40px;
    width: 40px;
    background-color: white;
    float: left;
    margin-right: 10px;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.iconUser {
    background-image: url('https://cdn4.iconfinder.com/data/icons/font-awesome-2/2048/f007-32.png');
}

.iconEmail {
    background-image: url('https://cdn4.iconfinder.com/data/icons/font-awesome-2/2048/f0e0-32.png');
    /* これを追加 */
}

.iconPassword {
    background-image: url('https://cdn4.iconfinder.com/data/icons/font-awesome-2/2048/f09c-32.png');
}

input[type="submit"] {
    width: 20%;
    background: blue;
    border: 0;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    box-sizing: border-box;
    margin-left: auto;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background: #53B9A8;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.form-group input {
    margin-left: 10px;
}