.card-header {
    background-color: #f5f2f2;
    text-align: center;
}

.card-body {
    justify-content: center;
    align-items: center;
}

.card-body {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    background-color: white;
}

.card-body a {
    display: inline-block;
    background-color: blue;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
}